.login-container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: absolute;
    background: linear-gradient(180deg, #fff059 50%, #ededed 50%);
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}
.login-container header{
    margin: 0 auto;
    height: 3.5rem;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    justify-content: space-between;
}
.login-container header img{
    max-width:  134px;
}
.login-container header a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    color: #333;
}
.login-container .content {
    margin-top: 60px;
}

.login-container .content section{
    width: 100%;
    max-width: 380px;
}
.login-container .content section h1 {
    margin: 64px 0 32px;    
    font-size: 32px;
}
.login-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
} 

.login-container .content form {
    margin: 0 auto;
    max-width: 450px;

    padding: 3rem 4rem;
    background: #fff;
    box-shadow: 0 0 100px rgba( 0,0,0,0.1);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}
.login-container .content form p {
    font-size: 1.5rem;
    text-align: left;
    color: rgba(0,0,0,.8);
}

.login-container .content form .email {
    text-align: center;
}
.login-container .content form .newAccount {
    text-decoration: none;
    padding: 0;
    margin: 0 auto !important;
    color: #3483fa;
}

.login-container .content form input:focus {
    outline:none;
}
.login-container .content .button {
    background: #3483fa;
    color: #fff;
    margin-bottom: 20px;
}
.login-container .content .button:focus {
    background: #3483fa;
    transition: box-shadow .25s ease-out,background-color .2s ease-out;
    transition-property: box-shadow, background-color;
    transition-duration: 0.25s, 0.2s;
    transition-timing-function: ease-out, ease-out;
    transition-delay: 0s, 0s;
    box-shadow: 0 0 0 0 #fff;
    color: #fff;
}


.group{ 
    position:relative; 
    margin-bottom:45px; 
    margin-top: 40px;
    border-bottom: #333 1px solid;
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none !important;
  }
  input:focus { outline:none; }
  
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:hover ~ label, input:valid ~ label {
    top:-20px;
    font-size:14px;
    color:#333;
  }
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:0px; 
    
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:hover ~ .bar:before, input:hover ~ .bar:after {
    width:50%;
    margin: 0 auto;
  }
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:26%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:hover ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }

.login-container .content form .input-group {
    display: flex;
}

.login-container .content form .input-group input + input {
    margin-left: 8px;
}

