.demo-image-preview {
  padding: 30px 0;
    /* position: relative; */
    /* text-align: center; */
  }
  
  .demo-image-preview > img {
    width: 368px;
  }
  
  @media(max-width:768px){
    .demo-image-preview > img {
      width: 100%;
    }
  }
  
  /* fullscreen enable by props */
  .demo-image-preview-fullscreen > img {
    width: 100vw;
    height:100vh;
  }